<%= link_to restaurant_path(restaurant) do %>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= restaurant.name %></h2>
      <p><%= restaurant.description %></p>
    </div>
      <% if restaurant.favorite?(current_user) %>
        <h4>Coeur</h4>
      <% else %>
        <h4>pas coeur</h4>
      <% end %>
    <h2 class="card-trip-pricing"><%= restaurant.phone_number %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<% end %>
